In [48]:
import pandas as pd
import numpy as np

In [49]:
df2 = pd.read_csv("./Resources/owid-covid-data.csv")
df2

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,ZWE,Africa,Zimbabwe,2021-08-18,121498.0,452.0,506.286,4181.0,25.0,27.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111305,ZWE,Africa,Zimbabwe,2021-08-19,121902.0,404.0,449.714,4198.0,17.0,21.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111306,ZWE,Africa,Zimbabwe,2021-08-20,121902.0,0.0,342.000,4198.0,0.0,17.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111307,ZWE,Africa,Zimbabwe,2021-08-21,122487.0,585.0,376.286,4236.0,38.0,20.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111308,ZWE,Africa,Zimbabwe,2021-08-22,122652.0,165.0,366.286,4249.0,13.0,20.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [50]:
for col in df2.columns:
    print(col)

iso_code
continent
location
date
total_cases
new_cases
new_cases_smoothed
total_deaths
new_deaths
new_deaths_smoothed
total_cases_per_million
new_cases_per_million
new_cases_smoothed_per_million
total_deaths_per_million
new_deaths_per_million
new_deaths_smoothed_per_million
reproduction_rate
icu_patients
icu_patients_per_million
hosp_patients
hosp_patients_per_million
weekly_icu_admissions
weekly_icu_admissions_per_million
weekly_hosp_admissions
weekly_hosp_admissions_per_million
new_tests
total_tests
total_tests_per_thousand
new_tests_per_thousand
new_tests_smoothed
new_tests_smoothed_per_thousand
positive_rate
tests_per_case
tests_units
total_vaccinations
people_vaccinated
people_fully_vaccinated
total_boosters
new_vaccinations
new_vaccinations_smoothed
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
total_boosters_per_hundred
new_vaccinations_smoothed_per_million
stringency_index
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence
female_smokers
male_smokers
handwashing_facilities
hospital_beds_per_thousand
life_expectancy
human_development_index
excess_mortality

In [51]:
# Need to choose what feature we want to evaluate
# location
# date
# total_cases
# new_cases
# total_deaths
# icu_patients
# hosp_patients
# new_tests
# total_tests
# total_vaccinations
# people_vaccinated
# people_fully_vaccinated
# total_boosters
# new_vaccinations
# population
# aged_65_older
# aged_70_older
# extreme_poverty
# cardiovasc_death_rate
# diabetes_prevalence
# female_smokers
# male_smokers
# handwashing_facilities
# life_expectancy

In [52]:
covid_features = df2[['location', 'date', 'total_cases', 'new_cases', 'total_deaths',
                      'icu_patients', 'hosp_patients', 'new_tests', 'total_tests', 'total_vaccinations',
                      'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
                      'population', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
                      'female_smokers', 'male_smokers', 'handwashing_facilities', 'life_expectancy']]
covid_features

,location,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,NaN,NaN,5314.0,1075390.0,3542340.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,NaN,NaN,NaN,NaN,3620937.0,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,NaN,NaN,NaN,NaN,3699508.0,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,NaN,NaN,NaN,NaN,3753242.0,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,NaN,NaN,NaN,NaN,3773199.0,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49

In [53]:
covid = covid_features.fillna(0)

In [54]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111309 entries, 0 to 111308
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   location                 111309 non-null  object
 1   date                     111309 non-null  object
 2   total_cases              111309 non-null  float64
 3   new_cases                111309 non-null  float64
 4   total_deaths             111309 non-null  float64
 5   icu_patients             111309 non-null  float64
 6   hosp_patients            111309 non-null  float64
 7   new_tests                111309 non-null  float64
 8   total_tests              111309 non-null  float64
 9   total_vaccinations       111309 non-null  float64
 10  people_vaccinated        111309 non-null  float64
 11  people_fully_vaccinated  111309 non-null  float64
 12  total_boosters           111309 non-null  float64
 13  new_vaccinations         111309 non-null  float64
 14  population               111309 non-null  float64
 15  aged_70_older            111309 non-null  float64
 16  extreme_poverty          111309 non-null  float64
 17  cardiovasc_death_rate    111309 non-null  float64
 18  diabetes_prevalence      111309 non-null  float64
 19  female_smokers           111309 non-null  float64
 20  male_smokers             111309 non-null  float64
 21  handwashing_facilities   111309 non-null  float64
 22  life_expectancy          111309 non-null  float64
dtypes: float64(21), object(2)
memory usage: 19.5+ MB

In [55]:
covid

,location,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,0.0,0.0,5314.0,1075390.0,3542340.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,0.0,0.0,0.0,0.0,3620937.0,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,0.0,0.0,0.0,0.0,3699508.0,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,0.0,0.0,0.0,0.0,3753242.0,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,0.0,0.0,0.0,0.0,3773199.0,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49

In [56]:
covid = covid.rename(columns={"location":"country"})

In [57]:
t = covid[covid['country']=='World'].index
t

Int64Index([109186, 109187, 109188, 109189, 109190, 109191, 109192, 109193,
            109194, 109195,
            ...
            109755, 109756, 109757, 109758, 109759, 109760, 109761, 109762,
            109763, 109764],
           dtype='int64', length=579)

In [58]:
f = covid[covid['country']=='International'].index
f

Int64Index([47080, 47081, 47082, 47083, 47084, 47085, 47086, 47087, 47088,
            47089,
            ...
            47633, 47634, 47635, 47636, 47637, 47638, 47639, 47640, 47641,
            47642],
           dtype='int64', length=563)

In [59]:
n = covid[covid['country']=='Northern Cyprus'].index
n

Int64Index([74677, 74678, 74679, 74680, 74681, 74682, 74683, 74684, 74685,
            74686,
            ...
            74881, 74882, 74883, 74884, 74885, 74886, 74887, 74888, 74889,
            74890],
           dtype='int64', length=214)

In [60]:
test_1 = covid.drop(t)
covid = test_1

In [61]:
test_2 = covid.drop(f)
covid = test_2

In [62]:
test_3 = covid.drop(n)
covid = test_3

In [63]:
covid

,country,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,0.0,0.0,5314.0,1075390.0,3542340.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,0.0,0.0,0.0,0.0,3620937.0,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,0.0,0.0,0.0,0.0,3699508.0,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,0.0,0.0,0.0,0.0,3753242.0,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,0.0,0.0,0.0,0.0,3773199.0,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49

In [82]:
#covid.to_csv(r'./Resources/Covid_Fresh.csv', index = False)

In [65]:
population_count_per_country = covid[['country', 'population']]
Population = population_count_per_country.drop_duplicates()

In [66]:
Population

                  country    population
0             Afghanistan  3.892834e+07
546                Africa  1.340598e+09
1103              Albania  2.877800e+06
1648              Algeria  4.385104e+07
2193              Andorra  7.726500e+04
...                   ...           ...
108461            Vietnam  9.733858e+07
109039  Wallis and Futuna  1.124600e+04
109765              Yemen  2.982597e+07
110265             Zambia  1.838396e+07
110788           Zimbabwe  1.486293e+07

[230 rows x 2 columns]

In [67]:
Population = Population.rename(columns={"location":"country"})

In [68]:
Population.to_csv(r'./Resources/Population_per_country_long_lat.csv', index = False)

In [69]:
covid['date'] = pd.to_datetime(covid['date'])

In [70]:
print(covid['date'].min())

2020-01-01 00:00:00

In [71]:
print(covid['date'].max())

2021-08-22 00:00:00

In [72]:
Afghanistan = covid[covid['country'] == 'Afghanistan']
Afghanistan

,country,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,Afghanistan,2021-08-18,152363.0,120.0,7043.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
542,Afghanistan,2021-08-19,152411.0,48.0,7047.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
543,Afghanistan,2021-08-20,152448.0,37.0,7054.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
544,Afghanistan,2021-08-21,152448.0,0.0,7054.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
545,Afghanistan,2021-08-22,152448.0,0.0,7054.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83

In [73]:
total_cases_per_date = covid.groupby(['date'])[['total_cases', 'total_deaths', 'people_fully_vaccinated']].max()

In [74]:
total_cases_per_date

            total_cases  total_deaths  people_fully_vaccinated
date
2020-01-01          0.0           0.0             0.000000e+00
2020-01-02          0.0           0.0             0.000000e+00
2020-01-03          0.0           0.0             0.000000e+00
2020-01-04          0.0           0.0             0.000000e+00
2020-01-05          0.0           0.0             0.000000e+00
...                 ...           ...                      ...
2021-08-18   66800120.0     1157712.0             1.152776e+09
2021-08-19   67068333.0     1159162.0             1.157452e+09
2021-08-20   67332653.0     1160553.0             1.162852e+09
2021-08-21   67575728.0     1161691.0             1.166136e+09
2021-08-22   67810288.0     1162700.0             1.170781e+09

[600 rows x 3 columns]

In [75]:
total_cases_per_date.reset_index(level=0, inplace=True)
total_cases_per_date

          date  total_cases  total_deaths  people_fully_vaccinated
0   2020-01-01          0.0           0.0             0.000000e+00
1   2020-01-02          0.0           0.0             0.000000e+00
2   2020-01-03          0.0           0.0             0.000000e+00
3   2020-01-04          0.0           0.0             0.000000e+00
4   2020-01-05          0.0           0.0             0.000000e+00
..         ...          ...           ...                      ...
595 2021-08-18   66800120.0     1157712.0             1.152776e+09
596 2021-08-19   67068333.0     1159162.0             1.157452e+09
597 2021-08-20   67332653.0     1160553.0             1.162852e+09
598 2021-08-21   67575728.0     1161691.0             1.166136e+09
599 2021-08-22   67810288.0     1162700.0             1.170781e+09

[600 rows x 4 columns]

In [76]:
#total_cases_per_date.to_csv(r'./Resources/total_cases_per_date.csv', index = False)

In [77]:
total_cases_per_location = covid.groupby(['country'])[['total_cases', 'total_deaths', 'people_fully_vaccinated', 'population']].max()

In [78]:
total_cases_per_location

,total_cases,total_deaths,people_fully_vaccinated,population
country,,,,
Afghanistan,152448.0,7054.0,219159.0,3.892834e+07
Africa,7507801.0,189151.0,32783791.0,1.340598e+09
Albania,139324.0,2478.0,575342.0,2.877800e+06
Algeria,191583.0,5004.0,724812.0,4.385104e+07
Andorra,14988.0,129.0,40616.0,7.726500e+04
...,...,...,...,...
Vietnam,348059.0,8277.0,1791248.0,9.733858e+07
Wallis and Futuna,0.0,0.0,4713.0,1.124600e+04
Yemen,7509.0,1418.0,13322.0,2.982597e+07
Zambia,204549.0,3574.0,239152.0,1.838396e+07
Zimbabwe,122652.0,4249.0,1461082.0,1.486293e+07

In [79]:
total_cases_per_location.reset_index(level=0, inplace=True)
total_cases_per_location

,country,total_cases,total_deaths,people_fully_vaccinated,population
0,Afghanistan,152448.0,7054.0,219159.0,3.892834e+07
1,Africa,7507801.0,189151.0,32783791.0,1.340598e+09
2,Albania,139324.0,2478.0,575342.0,2.877800e+06
3,Algeria,191583.0,5004.0,724812.0,4.385104e+07
4,Andorra,14988.0,129.0,40616.0,7.726500e+04
...,...,...,...,...,...
225,Vietnam,348059.0,8277.0,1791248.0,9.733858e+07
226,Wallis and Futuna,0.0,0.0,4713.0,1.124600e+04
227,Yemen,7509.0,1418.0,13322.0,2.982597e+07
228,Zambia,204549.0,3574.0,239152.0,1.838396e+07
229,Zimbabwe,122652.0,4249.0,1461082.0,1.486293e+07

In [80]:
total_cases_per_location = total_cases_per_location.rename(columns={"location":"country"})

In [81]:
#total_cases_per_location.to_csv(r'./Resources/total_cases_per_location.csv', index = False)