In [2]:
import pandas as pd
import numpy as np
# df1 = pd.read_csv("./Resources/country_vaccinations_by_manufacturer.csv")
# df1

In [3]:
# df1.info()

In [4]:
# df1['date'] = pd.to_datetime(df1['date'])

In [5]:
# df1.info()

In [6]:
# df1.head()

In [7]:
# df1['location'].unique()

In [8]:
# df1['vaccine'].unique()

In [9]:
df2 = pd.read_csv("./Resources/owid-covid-data.csv")
df2

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,ZWE,Africa,Zimbabwe,2021-08-18,121498.0,452.0,506.286,4181.0,25.0,27.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111305,ZWE,Africa,Zimbabwe,2021-08-19,121902.0,404.0,449.714,4198.0,17.0,21.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111306,ZWE,Africa,Zimbabwe,2021-08-20,121902.0,0.0,342.000,4198.0,0.0,17.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111307,ZWE,Africa,Zimbabwe,2021-08-21,122487.0,585.0,376.286,4236.0,38.0,20.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111308,ZWE,Africa,Zimbabwe,2021-08-22,122652.0,165.0,366.286,4249.0,13.0,20.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [10]:
for col in df2.columns:
    print(col)

iso_code
continent
location
date
total_cases
new_cases
new_cases_smoothed
total_deaths
new_deaths
new_deaths_smoothed
total_cases_per_million
new_cases_per_million
new_cases_smoothed_per_million
total_deaths_per_million
new_deaths_per_million
new_deaths_smoothed_per_million
reproduction_rate
icu_patients
icu_patients_per_million
hosp_patients
hosp_patients_per_million
weekly_icu_admissions
weekly_icu_admissions_per_million
weekly_hosp_admissions
weekly_hosp_admissions_per_million
new_tests
total_tests
total_tests_per_thousand
new_tests_per_thousand
new_tests_smoothed
new_tests_smoothed_per_thousand
positive_rate
tests_per_case
tests_units
total_vaccinations
people_vaccinated
people_fully_vaccinated
total_boosters
new_vaccinations
new_vaccinations_smoothed
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
total_boosters_per_hundred
new_vaccinations_smoothed_per_million
stringency_index
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence
female_smokers
male_smokers
handwashing_facilities
hospital_beds_per_thousand
life_expectancy
human_development_index
excess_mortality

In [11]:
# Need to choose what feature we want to evaluate
# location
# date
# total_cases
# new_cases
# total_deaths
# icu_patients
# hosp_patients
# new_tests
# total_tests
# total_vaccinations
# people_vaccinated
# people_fully_vaccinated
# total_boosters
# new_vaccinations
# population
# aged_65_older
# aged_70_older
# extreme_poverty
# cardiovasc_death_rate
# diabetes_prevalence
# female_smokers
# male_smokers
# handwashing_facilities
# life_expectancy

In [12]:
covid_features = df2[['location', 'date', 'total_cases', 'new_cases', 'total_deaths',
                      'icu_patients', 'hosp_patients', 'new_tests', 'total_tests', 'total_vaccinations',
                      'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
                      'population', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
                      'female_smokers', 'male_smokers', 'handwashing_facilities', 'life_expectancy']]
covid_features

,location,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,NaN,NaN,5314.0,1075390.0,3542340.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,NaN,NaN,NaN,NaN,3620937.0,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,NaN,NaN,NaN,NaN,3699508.0,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,NaN,NaN,NaN,NaN,3753242.0,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,NaN,NaN,NaN,NaN,3773199.0,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49

In [13]:
covid = covid_features.fillna(0)

In [14]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111309 entries, 0 to 111308
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   location                 111309 non-null  object
 1   date                     111309 non-null  object
 2   total_cases              111309 non-null  float64
 3   new_cases                111309 non-null  float64
 4   total_deaths             111309 non-null  float64
 5   icu_patients             111309 non-null  float64
 6   hosp_patients            111309 non-null  float64
 7   new_tests                111309 non-null  float64
 8   total_tests              111309 non-null  float64
 9   total_vaccinations       111309 non-null  float64
 10  people_vaccinated        111309 non-null  float64
 11  people_fully_vaccinated  111309 non-null  float64
 12  total_boosters           111309 non-null  float64
 13  new_vaccinations         111309 non-null  float64
 14  population               111309 non-null  float64
 15  aged_70_older            111309 non-null  float64
 16  extreme_poverty          111309 non-null  float64
 17  cardiovasc_death_rate    111309 non-null  float64
 18  diabetes_prevalence      111309 non-null  float64
 19  female_smokers           111309 non-null  float64
 20  male_smokers             111309 non-null  float64
 21  handwashing_facilities   111309 non-null  float64
 22  life_expectancy          111309 non-null  float64
dtypes: float64(21), object(2)
memory usage: 19.5+ MB

In [15]:
covid

,location,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,0.0,0.0,5314.0,1075390.0,3542340.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,0.0,0.0,0.0,0.0,3620937.0,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,0.0,0.0,0.0,0.0,3699508.0,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,0.0,0.0,0.0,0.0,3753242.0,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,0.0,0.0,0.0,0.0,3773199.0,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49

In [16]:
population_count_per_country = covid[['location', 'population']]
Population = population_count_per_country.drop_duplicates()
Population

                 location    population
0             Afghanistan  3.892834e+07
546                Africa  1.340598e+09
1103              Albania  2.877800e+06
1648              Algeria  4.385104e+07
2193              Andorra  7.726500e+04
...                   ...           ...
109039  Wallis and Futuna  1.124600e+04
109186              World  7.794799e+09
109765              Yemen  2.982597e+07
110265             Zambia  1.838396e+07
110788           Zimbabwe  1.486293e+07

[233 rows x 2 columns]

In [17]:
world = Population[(Population.location == 'World')].index
world

Int64Index([109186], dtype='int64')

In [18]:
Population.population[109186]

7794798729.0

In [19]:
international = Population[(Population.location == 'International')].index
international

Int64Index([47080], dtype='int64')

In [20]:
Population.population[47080]

0.0

In [21]:
w = Population[Population['location']=='World'].index
w

Int64Index([109186], dtype='int64')

In [22]:
i = Population[Population['location']=='International'].index
i

Int64Index([47080], dtype='int64')

In [23]:
test_1 = Population.drop(w)
Population = test_1

In [24]:
test_2 = Population.drop(i)
Population = test_2

In [25]:
Population

                 location    population
0             Afghanistan  3.892834e+07
546                Africa  1.340598e+09
1103              Albania  2.877800e+06
1648              Algeria  4.385104e+07
2193              Andorra  7.726500e+04
...                   ...           ...
108461            Vietnam  9.733858e+07
109039  Wallis and Futuna  1.124600e+04
109765              Yemen  2.982597e+07
110265             Zambia  1.838396e+07
110788           Zimbabwe  1.486293e+07

[231 rows x 2 columns]

In [26]:
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent='myapplication')
# location = geolocator.geocode("Vietnam")
# print((location.latitude, location.longitude))

In [27]:
# longitude = []
# for long in Population['location']:
#     location = geolocator.geocode(long)
#     longitude.append(longitude)

In [28]:
# latitude = []
# for lat in Population['location']:
#     location = geolocator.geocode(lat)
#     latitude.append(latitude)

In [29]:
# Population["Longitude"] = longitude
# Population["Latitude"] = latitude
# Population

In [30]:
covid['date'] = pd.to_datetime(covid['date'])

In [31]:
print(covid['date'].min())

2020-01-01 00:00:00

In [32]:
print(covid['date'].max())

2021-08-22 00:00:00

In [33]:
Afghanistan = covid[covid['location'] == 'Afghanistan']
Afghanistan

,location,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,Afghanistan,2021-08-18,152363.0,120.0,7043.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
542,Afghanistan,2021-08-19,152411.0,48.0,7047.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
543,Afghanistan,2021-08-20,152448.0,37.0,7054.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
544,Afghanistan,2021-08-21,152448.0,0.0,7054.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
545,Afghanistan,2021-08-22,152448.0,0.0,7054.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83

In [65]:
total_cases_per_date = covid.groupby(['date'])[['total_cases', 'total_deaths', 'people_fully_vaccinated']].sum()

In [66]:
total_cases_per_date

            total_cases  total_deaths  people_fully_vaccinated
date
2020-01-01          0.0           0.0             0.000000e+00
2020-01-02          0.0           0.0             0.000000e+00
2020-01-03          0.0           0.0             0.000000e+00
2020-01-04          0.0           0.0             0.000000e+00
2020-01-05          0.0           0.0             0.000000e+00
...                 ...           ...                      ...
2021-08-18  663509866.0    13927922.0             5.038607e+09
2021-08-19  665675456.0    13960217.0             5.030111e+09
2021-08-20  668341155.0    13995519.0             4.897061e+09
2021-08-21  669993797.0    14021822.0             4.827983e+09
2021-08-22  671374721.0    14044564.0             4.825543e+09

[600 rows x 3 columns]

In [69]:
total_cases_per_location = covid.groupby(['location'])[['total_cases', 'total_deaths', 'people_fully_vaccinated']].max()

In [70]:
total_cases_per_location

                   total_cases  total_deaths  people_fully_vaccinated
location
Afghanistan           152448.0        7054.0             2.191590e+05
Africa               7507801.0      189151.0             3.278379e+07
Albania               139324.0        2478.0             5.753420e+05
Algeria               191583.0        5004.0             7.248120e+05
Andorra                14988.0         129.0             4.061600e+04
...                        ...           ...                      ...
Wallis and Futuna          0.0           0.0             4.713000e+03
World              211842894.0     4431518.0             1.908711e+09
Yemen                   7509.0        1418.0             1.332200e+04
Zambia                204549.0        3574.0             2.391520e+05
Zimbabwe              122652.0        4249.0             1.461082e+06

[233 rows x 3 columns]