In [2]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("./Resources/country_vaccinations_by_manufacturer.csv")
df1

      location        date             vaccine  total_vaccinations
0      Austria  2021-01-08     Johnson&Johnson                   0
1      Austria  2021-01-08             Moderna                   0
2      Austria  2021-01-08  Oxford/AstraZeneca                   0
3      Austria  2021-01-08     Pfizer/BioNTech               31020
4      Austria  2021-01-15     Johnson&Johnson                   0
...        ...         ...                 ...                 ...
10960  Uruguay  2021-08-07     Pfizer/BioNTech             1562360
10961  Uruguay  2021-08-07             Sinovac             3234519
10962  Uruguay  2021-08-08  Oxford/AstraZeneca               84121
10963  Uruguay  2021-08-08     Pfizer/BioNTech             1562430
10964  Uruguay  2021-08-08             Sinovac             3234526

[10965 rows x 4 columns]

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10965 entries, 0 to 10964
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            10965 non-null  object
 1   date                10965 non-null  object
 2   vaccine             10965 non-null  object
 3   total_vaccinations  10965 non-null  int64
dtypes: int64(1), object(3)
memory usage: 342.8+ KB

In [4]:
df1['date'] = pd.to_datetime(df1['date'])

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10965 entries, 0 to 10964
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            10965 non-null  object
 1   date                10965 non-null  datetime64[ns]
 2   vaccine             10965 non-null  object
 3   total_vaccinations  10965 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 342.8+ KB

In [6]:
df1.head()

  location       date             vaccine  total_vaccinations
0  Austria 2021-01-08     Johnson&Johnson                   0
1  Austria 2021-01-08             Moderna                   0
2  Austria 2021-01-08  Oxford/AstraZeneca                   0
3  Austria 2021-01-08     Pfizer/BioNTech               31020
4  Austria 2021-01-15     Johnson&Johnson                   0

In [7]:
df1['location'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Chile', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Hong Kong', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United States',
       'Uruguay'], dtype=object)

In [8]:
df1['vaccine'].unique()

array(['Johnson&Johnson', 'Moderna', 'Oxford/AstraZeneca',
       'Pfizer/BioNTech', 'Sinovac', 'CanSino', 'Sputnik V',
       'Sinopharm/Beijing'], dtype=object)

In [9]:
df2 = pd.read_csv("./Resources/owid-covid-data.csv")
df2

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,ZWE,Africa,Zimbabwe,2021-08-18,121498.0,452.0,506.286,4181.0,25.0,27.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111305,ZWE,Africa,Zimbabwe,2021-08-19,121902.0,404.0,449.714,4198.0,17.0,21.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111306,ZWE,Africa,Zimbabwe,2021-08-20,121902.0,0.0,342.000,4198.0,0.0,17.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111307,ZWE,Africa,Zimbabwe,2021-08-21,122487.0,585.0,376.286,4236.0,38.0,20.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111308,ZWE,Africa,Zimbabwe,2021-08-22,122652.0,165.0,366.286,4249.0,13.0,20.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [13]:
for col in df2.columns:
    print(col)

iso_code
continent
location
date
total_cases
new_cases
new_cases_smoothed
total_deaths
new_deaths
new_deaths_smoothed
total_cases_per_million
new_cases_per_million
new_cases_smoothed_per_million
total_deaths_per_million
new_deaths_per_million
new_deaths_smoothed_per_million
reproduction_rate
icu_patients
icu_patients_per_million
hosp_patients
hosp_patients_per_million
weekly_icu_admissions
weekly_icu_admissions_per_million
weekly_hosp_admissions
weekly_hosp_admissions_per_million
new_tests
total_tests
total_tests_per_thousand
new_tests_per_thousand
new_tests_smoothed
new_tests_smoothed_per_thousand
positive_rate
tests_per_case
tests_units
total_vaccinations
people_vaccinated
people_fully_vaccinated
total_boosters
new_vaccinations
new_vaccinations_smoothed
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
total_boosters_per_hundred
new_vaccinations_smoothed_per_million
stringency_index
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence
female_smokers
male_smokers
handwashing_facilities
hospital_beds_per_thousand
life_expectancy
human_development_index
excess_mortality

In [11]:
df2['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican',
       'Venezuela', 'Vietnam', 'Wallis and Futuna', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [14]:
# Need to choose what feature we want to evaluate
# location
# date
# total_cases
# new_cases
# total_deaths
# reproduction_rate
# icu_patients
# hosp_patients
# new_tests
# total_tests
# total_vaccinations
# people_vaccinated
# people_fully_vaccinated
# total_boosters
# new_vaccinations
# population
# aged_65_older
# aged_70_older
# extreme_poverty
# cardiovasc_death_rate
# diabetes_prevalence
# female_smokers
# male_smokers
# handwashing_facilities
# life_expectancy

In [19]:
covid_features = df2[['location', 'date', 'total_cases', 'new_cases', 'total_deaths','reproduction_rate',
                      'icu_patients', 'hosp_patients', 'new_tests', 'total_tests', 'total_vaccinations',
                      'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
                      'population', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
                      'female_smokers', 'male_smokers', 'handwashing_facilities', 'life_expectancy']]
covid_features

,location,date,total_cases,new_cases,total_deaths,reproduction_rate,icu_patients,hosp_patients,new_tests,total_tests,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,0.66,NaN,NaN,5314.0,1075390.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,NaN,NaN,NaN,NaN,NaN,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,NaN,NaN,NaN,NaN,NaN,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,NaN,NaN,NaN,NaN,NaN,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,NaN,NaN,NaN,NaN,NaN,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49