In [2]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("./Resources/country_vaccinations_by_manufacturer.csv")
df1

      location        date             vaccine  total_vaccinations
0      Austria  2021-01-08     Johnson&Johnson                   0
1      Austria  2021-01-08             Moderna                   0
2      Austria  2021-01-08  Oxford/AstraZeneca                   0
3      Austria  2021-01-08     Pfizer/BioNTech               31020
4      Austria  2021-01-15     Johnson&Johnson                   0
...        ...         ...                 ...                 ...
10960  Uruguay  2021-08-07     Pfizer/BioNTech             1562360
10961  Uruguay  2021-08-07             Sinovac             3234519
10962  Uruguay  2021-08-08  Oxford/AstraZeneca               84121
10963  Uruguay  2021-08-08     Pfizer/BioNTech             1562430
10964  Uruguay  2021-08-08             Sinovac             3234526

[10965 rows x 4 columns]

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10965 entries, 0 to 10964
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            10965 non-null  object
 1   date                10965 non-null  object
 2   vaccine             10965 non-null  object
 3   total_vaccinations  10965 non-null  int64
dtypes: int64(1), object(3)
memory usage: 342.8+ KB

In [4]:
df1['date'] = pd.to_datetime(df1['date'])

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10965 entries, 0 to 10964
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            10965 non-null  object
 1   date                10965 non-null  datetime64[ns]
 2   vaccine             10965 non-null  object
 3   total_vaccinations  10965 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 342.8+ KB

In [6]:
df1.head()

  location       date             vaccine  total_vaccinations
0  Austria 2021-01-08     Johnson&Johnson                   0
1  Austria 2021-01-08             Moderna                   0
2  Austria 2021-01-08  Oxford/AstraZeneca                   0
3  Austria 2021-01-08     Pfizer/BioNTech               31020
4  Austria 2021-01-15     Johnson&Johnson                   0

In [7]:
df1['location'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Chile', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Hong Kong', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United States',
       'Uruguay'], dtype=object)

In [8]:
df1['vaccine'].unique()

array(['Johnson&Johnson', 'Moderna', 'Oxford/AstraZeneca',
       'Pfizer/BioNTech', 'Sinovac', 'CanSino', 'Sputnik V',
       'Sinopharm/Beijing'], dtype=object)

In [9]:
df2 = pd.read_csv("./Resources/owid-covid-data.csv")
df2

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,ZWE,Africa,Zimbabwe,2021-08-18,121498.0,452.0,506.286,4181.0,25.0,27.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111305,ZWE,Africa,Zimbabwe,2021-08-19,121902.0,404.0,449.714,4198.0,17.0,21.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111306,ZWE,Africa,Zimbabwe,2021-08-20,121902.0,0.0,342.000,4198.0,0.0,17.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111307,ZWE,Africa,Zimbabwe,2021-08-21,122487.0,585.0,376.286,4236.0,38.0,20.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
111308,ZWE,Africa,Zimbabwe,2021-08-22,122652.0,165.0,366.286,4249.0,13.0,20.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [10]:
for col in df2.columns:
    print(col)

iso_code
continent
location
date
total_cases
new_cases
new_cases_smoothed
total_deaths
new_deaths
new_deaths_smoothed
total_cases_per_million
new_cases_per_million
new_cases_smoothed_per_million
total_deaths_per_million
new_deaths_per_million
new_deaths_smoothed_per_million
reproduction_rate
icu_patients
icu_patients_per_million
hosp_patients
hosp_patients_per_million
weekly_icu_admissions
weekly_icu_admissions_per_million
weekly_hosp_admissions
weekly_hosp_admissions_per_million
new_tests
total_tests
total_tests_per_thousand
new_tests_per_thousand
new_tests_smoothed
new_tests_smoothed_per_thousand
positive_rate
tests_per_case
tests_units
total_vaccinations
people_vaccinated
people_fully_vaccinated
total_boosters
new_vaccinations
new_vaccinations_smoothed
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
total_boosters_per_hundred
new_vaccinations_smoothed_per_million
stringency_index
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence
female_smokers
male_smokers
handwashing_facilities
hospital_beds_per_thousand
life_expectancy
human_development_index
excess_mortality

In [11]:
# Need to choose what feature we want to evaluate
# location
# date
# total_cases
# new_cases
# total_deaths
# icu_patients
# hosp_patients
# new_tests
# total_tests
# total_vaccinations
# people_vaccinated
# people_fully_vaccinated
# total_boosters
# new_vaccinations
# population
# aged_65_older
# aged_70_older
# extreme_poverty
# cardiovasc_death_rate
# diabetes_prevalence
# female_smokers
# male_smokers
# handwashing_facilities
# life_expectancy

In [12]:
covid_features = df2[['location', 'date', 'total_cases', 'new_cases', 'total_deaths',
                      'icu_patients', 'hosp_patients', 'new_tests', 'total_tests', 'total_vaccinations',
                      'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
                      'population', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
                      'female_smokers', 'male_smokers', 'handwashing_facilities', 'life_expectancy']]
covid_features

,location,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38928341.0,1.337,NaN,597.029,9.59,NaN,NaN,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,NaN,NaN,5314.0,1075390.0,3542340.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,NaN,NaN,NaN,NaN,3620937.0,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,NaN,NaN,NaN,NaN,3699508.0,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,NaN,NaN,NaN,NaN,3753242.0,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,NaN,NaN,NaN,NaN,3773199.0,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49

In [13]:
covid = covid_features.fillna(0)

In [14]:
covid_features['date'] = pd.to_datetime(covid_features['date'])

C:\Users\snkty\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111309 entries, 0 to 111308
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   location                 111309 non-null  object
 1   date                     111309 non-null  object
 2   total_cases              111309 non-null  float64
 3   new_cases                111309 non-null  float64
 4   total_deaths             111309 non-null  float64
 5   icu_patients             111309 non-null  float64
 6   hosp_patients            111309 non-null  float64
 7   new_tests                111309 non-null  float64
 8   total_tests              111309 non-null  float64
 9   total_vaccinations       111309 non-null  float64
 10  people_vaccinated        111309 non-null  float64
 11  people_fully_vaccinated  111309 non-null  float64
 12  total_boosters           111309 non-null  float64
 13  new_vaccinations         111309 non-null  float64
 14  population               111309 non-null  float64
 15  aged_70_older            111309 non-null  float64
 16  extreme_poverty          111309 non-null  float64
 17  cardiovasc_death_rate    111309 non-null  float64
 18  diabetes_prevalence      111309 non-null  float64
 19  female_smokers           111309 non-null  float64
 20  male_smokers             111309 non-null  float64
 21  handwashing_facilities   111309 non-null  float64
 22  life_expectancy          111309 non-null  float64
dtypes: float64(21), object(2)
memory usage: 19.5+ MB

In [16]:
covid

,location,date,total_cases,new_cases,total_deaths,icu_patients,hosp_patients,new_tests,total_tests,total_vaccinations,...,new_vaccinations,population,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,Afghanistan,2020-02-24,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
1,Afghanistan,2020-02-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
2,Afghanistan,2020-02-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
3,Afghanistan,2020-02-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
4,Afghanistan,2020-02-28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38928341.0,1.337,0.0,597.029,9.59,0.0,0.0,37.746,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,0.0,0.0,5314.0,1075390.0,3542340.0,...,91381.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,0.0,0.0,0.0,0.0,3620937.0,...,78597.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,0.0,0.0,0.0,0.0,3699508.0,...,78571.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,0.0,0.0,0.0,0.0,3753242.0,...,53734.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,0.0,0.0,0.0,0.0,3773199.0,...,19957.0,14862927.0,1.882,21.4,307.846,1.82,1.6,30.7,36.791,61.49

In [20]:
population_count_per_country = covid[['location', 'population']]
population_count_per_country

           location  population
0       Afghanistan  38928341.0
1       Afghanistan  38928341.0
2       Afghanistan  38928341.0
3       Afghanistan  38928341.0
4       Afghanistan  38928341.0
...             ...         ...
111304     Zimbabwe  14862927.0
111305     Zimbabwe  14862927.0
111306     Zimbabwe  14862927.0
111307     Zimbabwe  14862927.0
111308     Zimbabwe  14862927.0

[111309 rows x 2 columns]

In [21]:
country = covid['location'].unique()
population = covid['population'].unique()

In [29]:
len(country)

233

In [30]:
country

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican',
       'Venezuela', 'Vietnam', 'Wallis and Futuna', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [31]:
len(population)

232

In [32]:
population

array([3.89283410e+07, 1.34059811e+09, 2.87780000e+06, 4.38510430e+07,
       7.72650000e+04, 3.28662680e+07, 1.50020000e+04, 9.79280000e+04,
       4.51957770e+07, 2.96323400e+06, 1.06766000e+05, 4.63984742e+09,
       2.54998810e+07, 9.00640000e+06, 1.01391750e+07, 3.93248000e+05,
       1.70158300e+06, 1.64689383e+08, 2.87371000e+05, 9.44932100e+06,
       1.15896160e+07, 3.97621000e+05, 1.21231980e+07, 6.22730000e+04,
       7.71612000e+05, 1.16730290e+07, 2.62210000e+04, 3.28081500e+06,
       2.35162500e+06, 2.12559409e+08, 3.02370000e+04, 4.37483000e+05,
       6.94844500e+06, 2.09032780e+07, 1.18907810e+07, 1.67189710e+07,
       2.65458640e+07, 3.77421570e+07, 5.55988000e+05, 6.57200000e+04,
       4.82976400e+06, 1.64258590e+07, 1.91162090e+07, 1.43932377e+09,
       5.08828840e+07, 8.69595000e+05, 5.51809200e+06, 1.75640000e+04,
       5.09411400e+06, 2.63782750e+07, 4.10526800e+06, 1.13266160e+07,
       1.64100000e+05, 8.88005000e+05, 1.07089820e+07, 8.95614040e+07,
       5.79220300e+06, 9.88002000e+05, 7.19910000e+04, 1.08479040e+07,
       1.76430600e+07, 1.02334403e+08, 6.48620100e+06, 1.40298500e+06,
       3.54642700e+06, 1.32653900e+06, 1.16016400e+06, 1.14963583e+08,
       7.48680069e+08, 4.44919060e+08, 4.88650000e+04, 3.48300000e+03,
       8.96444000e+05, 5.54071800e+06, 6.75642510e+07, 2.80904000e+05,
       2.22572800e+06, 2.41666400e+06, 3.98917500e+06, 8.37839450e+07,
       3.10729450e+07, 3.36910000e+04, 1.04230560e+07, 5.67720000e+04,
       1.12519000e+05, 1.79155670e+07, 6.70520000e+04, 1.31327920e+07,
       1.96799800e+06, 7.86559000e+05, 1.14025330e+07, 9.90460800e+06,
       7.49698800e+06, 9.66035000e+06, 3.41250000e+05, 1.38000438e+09,
       2.73523621e+08, 0.00000000e+00, 8.39929530e+07, 4.02225030e+07,
       4.93779600e+06, 8.50320000e+04, 8.65554100e+06, 6.04618280e+07,
       2.96116100e+06, 1.26476458e+08, 1.01073000e+05, 1.02031400e+07,
       1.87767070e+07, 5.37713000e+07, 1.19446000e+05, 1.93277400e+06,
       4.27056300e+06, 6.52419100e+06, 7.27555600e+06, 1.88620200e+06,
       6.82544200e+06, 2.14225200e+06, 5.05767700e+06, 6.87128700e+06,
       3.81370000e+04, 2.72229100e+06, 6.25976000e+05, 6.49342000e+05,
       2.76910190e+07, 1.91299550e+07, 3.23659980e+07, 5.40542000e+05,
       2.02508340e+07, 5.14564000e+05, 5.91940000e+04, 4.64966000e+06,
       1.27176700e+06, 1.28932753e+08, 1.15021000e+05, 4.03396300e+06,
       3.92440000e+04, 3.27829200e+06, 6.28062000e+05, 4.99900000e+03,
       3.69105580e+07, 3.12554350e+07, 5.44097940e+07, 2.54091600e+06,
       1.08340000e+04, 2.91368080e+07, 1.71348730e+07, 2.85491000e+05,
       4.82223300e+06, 6.62455400e+06, 2.42066360e+07, 2.06139587e+08,
       1.61800000e+03, 5.92072204e+08, 2.08338000e+06, 5.42124200e+06,
       4.26778090e+07, 5.10662200e+06, 2.20892331e+08, 1.80920000e+04,
       5.10141600e+06, 4.31476800e+06, 8.94702700e+06, 7.13253000e+06,
       3.29718460e+07, 1.09581085e+08, 4.70000000e+01, 3.78466050e+07,
       1.01967070e+07, 2.88106000e+06, 1.92376820e+07, 1.45934460e+08,
       1.29522090e+07, 6.07100000e+03, 5.31920000e+04, 1.83629000e+05,
       1.10947000e+05, 1.98410000e+05, 3.39380000e+04, 2.19161000e+05,
       3.48138670e+07, 1.67439300e+07, 6.80459600e+06, 9.83400000e+04,
       7.97698500e+06, 5.85034300e+06, 4.28820000e+04, 5.45964300e+06,
       2.07893200e+06, 6.86878000e+05, 1.58932190e+07, 5.93086900e+07,
       4.30759772e+08, 5.12691830e+07, 1.11937290e+07, 4.67547830e+07,
       2.14132500e+07, 4.38492690e+07, 5.86634000e+05, 1.00992700e+07,
       8.65461800e+06, 1.75006570e+07, 2.38167750e+07, 9.53764200e+06,
       5.97342130e+07, 6.97999780e+07, 1.31844200e+06, 8.27873700e+06,
       1.35000000e+03, 1.05697000e+05, 1.39949100e+06, 1.18186180e+07,
       8.43390670e+07, 6.03118700e+06, 3.87180000e+04, 1.17920000e+04,
       4.57410000e+07, 4.37337590e+07, 9.89040000e+06, 6.78860040e+07,
       3.31002647e+08, 3.47372700e+06, 3.34691990e+07, 3.07150000e+05,
       8.09000000e+02, 2.84359430e+07, 9.73385830e+07, 1.12460000e+04,
       7.79479873e+09, 2.98259680e+07, 1.83839560e+07, 1.48629270e+07])